<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Web API</title>
    <link href="../../Content/Site.css" rel="stylesheet" />
</head>

<body id="body">
    <div class="main-content">
        <div>
            <h1>Rank Research</h1>
        </div>
    </div>
</body>
</html>